<div class="row">
  <div class="col-md-4 col-lg-3 pull-right">
    <section class="widget">
      <button class="btn" ng-click='sendInstance()'>Send auth</button>
    </section>
  </div>
  <div class="col-md-4 col-lg-3 pull-right">
    <section class="widget">
      <div class="row">
        <div class="col-md-3">
            <label for="dateinput1">To</label>
        </div>
        <div class="col-md-9">
          <input id="datetimepicker1" data-ui-jq="datetimepicker" data-ui-options="{ format: 'MM/DD/YYYY' }"
             data-ng-init="dt = '09/13/2014'" data-ng-model="dtFrom"
             data-ng-change="dtChanged(dt)"
             type="text" class="form-control" />
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-4 col-lg-3 pull-right">
    <section class="widget">
      <div class="row">
        <div class="col-md-3">
            <label for="dateinput2">From</label>
        </div>
        <div class="col-md-9">
          <input id="datetimepicker2" data-ui-jq="datetimepicker" data-ui-options="{ format: 'MM/DD/YYYY' }"
             data-ng-init="dt = '09/13/2014'" data-ng-model="dtTo"
             data-ng-change="dtChanged(dt)"
             type="text" class="form-control" />
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <section class="widget bg-primary text-white">
      <div class="widget-body">
          <h4>80 Лидов</h4>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-success" style="width: 60%;"></div>
          </div>
          <p class="fs-mini mb-lg">
            &nbsp;
            Цель <span class="fw-semi-bold">820</span> Лидов
            достигнута на <span class="fw-semi-bold">96%</span>.
          </p>
          <div data-rickshaw-chart data-series="series" data-height="130"
               data-realtime="true" data-random="random" data-series-data="seriesData" class="chart-overflow-bottom"></div>
        </div>
      </section>
  </div>
  <div class="col-md-2">
    <section class="widget no-padding text-align-center bg-success">
          <p class="value0 text-white mr-n-xs mb-n-xs">
            560 Р.
          </p>
          <p class="text-white display-inline-block fw-normal display-inline-block mb">Цена за лид</p>
    </section>
  </div>
  <div class="col-md-1">
    <section class="widget no-padding text-align-center bg-success">
          <p class="value0 text-white mr-n-xs mb-n-xs">
            5%
          </p>
          <p class="text-white display-inline-block fw-normal display-inline-block mb">Конверия</p>
    </section>
  </div>
  <div class="col-md-3">
    <section class="widget no-padding text-align-center bg-success">
          <p class="value0 text-white mr-n-xs mb-n-xs">
            7,448 Р.
          </p>
          <p class="text-white display-inline-block fw-normal display-inline-block mb">Маркетинговые расходы</p>
    </section>
  </div>
  <div class="col-md-3">
    <section class="widget bg-primary text-white clearfix">
      <div class="pull-left">
        <header>
          <h4 class="mt-0">ROMI</h4>
        </header>
        <div class="widget-body clearfix">
          <p class="h2 mt-sm pull-left">90%</p>
          <div class="clearfix pull-left h2 ml mt-sm">
            <span class="h4 fw-semi-bold"><i class="fa fa-caret-up text-success"></i> 50 %</span>
          </div>
        </div>
      </div>
      <div class="pull-left ml">
        <header>
          <h4 class="mt-0">ДРР</h4>
        </header>
        <div class="widget-body clearfix">
          <p class="h2 mt-sm pull-left">90%</p>
          <div class="clearfix pull-left h2 ml mt-sm">
            <span class="h4 fw-semi-bold"><i class="fa fa-caret-up text-success"></i> 20 %</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <section class="widget">
      <header>
        <h5>Воронка лидов</h5>
      </header>
      <div class="widget-body">
        <div class="clearfix fs-mini">
          <span class="pull-right no-margin fw-semi-bold">Campain visits</span>
          <span class="fs-mini">80 total</span>
        </div>
        <div class="progress progress-xs">
          <div class="progress-bar" style="width: 100%;"></div>
        </div>
        <div class="clearfix fs-mini mt">
          <span class="pull-right no-margin fw-semi-bold">Interactions</span>
          <span class="fs-mini">60 total</span>
        </div>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-warning" style="width: 80%;"></div>
        </div>
        <div class="clearfix fs-mini mt">
          <span class="pull-right no-margin fw-semi-bold">Shares</span>
          <span class="fs-mini">40 total</span>
        </div>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-danger" style="width: 60%;"></div>
        </div>
        <div class="clearfix fs-mini mt">
          <span class="pull-right no-margin fw-semi-bold">Resultin clicks</span>
          <span class="fs-mini">30 total</span>
        </div>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-success" style="width: 70%;"></div>
        </div>
         <div class="clearfix fs-mini mt">
          <span class="pull-right no-margin fw-semi-bold">Registation</span>
          <span class="fs-mini">10 total</span>
        </div>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section class="widget">
        <header>
          <h4>
            Новые посетители
          </h4>
        </header>
        <div class="widget-body">.
          <div data-nvd3-chart data-chart="nvd31Chart" data-datum="nvd31Data">
            <svg style='height: 182px;' class=></svg>
          </div>
        </div>
      </section>
  </div>
  <div class="col-md-3">
    <section class="widget">
      <header>
        <h4>
          Источники новых посетителей  
        </h4>
      </header>
      <div class="widget-body">
        <div data-jq-sparkline data-ng-model="sparklinePieData"
             data-options="sparklinePieOptions" class="chart-overflow-bottom mb-0 text-align-center"></div>
      </div>
    </section>
  </div>
</div>
